// Variables
// ===================

$black: #06070B;
$white: #F2F2F2;
$modern_blue: #3a48c0;
$backgroundColor: $white;
$palanquin: 'Palanquin', sans-serif;
$palanquin_dark: 'Palanquin Dark', sans-serif;
$shine: #6c63ff;

// Custom Variables
// ===================

$example: #000;
$DarkBlue: #242B40;
$Blue: #1B208C;
$FlashBlue: #52B3D9;
$MoyBlue: #464AA6;
$LightBlue: #787CBF;
$LinkColor: #6c757d;

// Tools
// ===================
@import 'tools/reset';
@import 'tools/mixins';

// Modules
// ===================
@import 'modules/typography';
@import 'modules/base';
@import 'modules/spacing';

// Layouts
// ===================
@import 'layouts/navbar';
@import 'layouts/footer';

// Components
// ===================
@import 'components/btn-primary';
@import 'components/newsletter';

// Templates
// ===================
@import 'templates/home';
