form.newsletter {
    .form-group {
        display: flex;
        flex-direction: column;
        label {
            font-weight: 700!important;
        }
        .form-confirm {
            position: relative;
            max-width: 340px!important;
            max-height: 40px!important;
            display: flex;
            input {
                min-height: 40px;
                background-clip: padding-box;
                background-color: $white;
                border: 1px solid #ced4da;
                border-radius: 0.125rem;
                color: #495057;
                display: block;
                height: 100%;
                line-height: 1.5;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                width: 100%;
                font-size: 16px!important;
                font-family: $palanquin;
            }
            button {
                border-radius: 0.125rem;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $modern_blue;
                position: absolute;
                width: 35px;
                height: 35px;
                top: 12.5%;
                right: 6px;
                &:hover {
                    cursor: pointer;
                }
                &:active {
                    transform: scale(0.99);
                }
                i {
                    margin-left: -5px;
                    font-size: 24px;
                    color: $white;
                    transform: rotateZ(45deg);
                }
            }
        }
    }
}
