.layout.homepage-layout {
    margin-top: 75px;
    .container {
        display: flex;
        gap: 40px;
        div {
            &.container-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: end;
                font-size: 50px;
                max-width: 400px;
                font-weight: 500;
                font-family: $palanquin;
                span {
                    mark {
                        font-weight: 600;
                    }
                }
            }
            img {
                max-width: 560px;
            }
        }
    }
}
