body, html {
    line-height: 1.4;
    font-size: 28px;
    color: $black;
}

body {
    background-color: $backgroundColor;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: $palanquin;
    font-weight: 400;
    user-select: none;
    &.hover-effect {
        &:hover {
            color: $LinkColor;
        }
    }
    &.underlined {
        background-repeat: no-repeat;
        background-size: 0 100%;
        background-position: left 0 bottom 0;
        transition: background-size .4s;
        background-image: linear-gradient(transparent calc(100% - 3px), $black calc(100% - 2px), $black 100%);
        &:hover, &:active {
            background-size: 100% 100%;
        }
    }
}

mark {
    background-color: transparent;
    position: relative;
}

mark::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    opacity: 0.7;
    height: 20px;
    left: -3px;
    right: -3px;
    bottom: 0;
    z-index: -1;
    border-radius: 4px;
    display: inline-block;
    background-color: $shine;
    font-weight: 600;
}

i:hover {
    cursor: pointer;
}

.layout {
    margin-top: 60px;
    width: 100%;
    margin-bottom: 60px;
    height: 600px;
    max-height: 900px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1100px;
}
